  .comments {
    // @extend %padding--mobile;
    margin: 0 auto;

    @media #{$Tablet} {
      @include media-max-width(Tablet, 4, 5);

    }

    @media #{$Desktop} {
      @include media-max-width(Desktop, 6, 5);
    }

    &__flex {
      @extend %bottom-divider;
      padding-bottom: 3.2rem; //Change to be responsive just to show divier
      display: flex;
    }

    &__form {
      display: flex;
      flex-direction: column;

      flex: 1;
    }

    &__title {
      @extend %header-section;
      padding-bottom: 4.0rem;
    }

    //Dynamically generated element by JS
    &__flex-container {
      @extend %bottom-divider;
      display: flex;
    }

    &__img {

      &--small {
        width: 36px;
        border-radius: 50%;
        margin-right: 10px;
      }

      &--large{
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-top: 2.4rem;

        // background: url('../../../assets/images/Mohan-muruge.jpg');
        // background-size: cover;
        margin-right: 1.6rem;
      }

    }

    &__label {
      @extend %paragraph-bold;
      color: $text-label-fill;
      text-transform: uppercase;
 
    }

    &__input {
      @extend %paragraph-regular;
      color: $paragraph-text;
      background: $text-field-bg-fill;
      padding: 15px;
      border: 1px solid $text-label-fill;
      border-radius: 4px;
      margin-bottom: 1.6rem;

      &::placeholder {
        color: $paragraph-text;
        opacity: 1;
      }

      &:focus {
        border: 3px solid black;
      }

      &--comment{
        resize: vertical;
      }
    }

    //Dynamically generated element by JS
    &___content {
      display:flex;
      flex-direction: column;
    }

    &__flex-container {
      padding: 2.4rem 0;;
    }

    &__submit {
      @extend %buttons;
    }

  }

  .content {
    
    //Dynamically generated element by JS
    &__flex {
      display: flex;
      @extend %paragraph-regular; 
    }

    &__username {
      @extend %paragraph-bold;
      font-weight: 600;
      margin-bottom: 1.6rem;
      margin-right: 1.6rem;

    }

    &__date {
      @extend %paragraph-regular;
      margin-left: auto;
      color: $text-label-fill;

      @media #{$Tablet} {
        margin-left: 0;
      }
    }

    &__comment {
      @extend %paragraph-regular;
    }
  }