@import '../../css/normalize';

//Imports my variables, mixins and classes that extended into other files
@import '../../css/variables';

//Imports the header specific styles
@import '../../src/header/css/header';

//Imports the footer specific styles 
@import '../../src/footer/css/footer';
.shows {

    &__flex-wrapper {
      @media #{$Desktop} {
        display: flex;
        align-items: flex-end;
      }
    }

    &__title {
      @extend %header-hero;
      // @include font-line(3.6rem, 4.4rem);
      padding-bottom: 6.4rem;

      @include media-max-width(Mobile, 4, 3);

      @media #{$Tablet} {
        @include media-max-width(Tablet, 5, 4);
      }

      @media #{$Desktop} {
        max-width: 50%;
        padding-bottom: 0;
      }

      &--album {
        @extend %header-sub;
        @include font-family(AvenirDemiBold);
        margin-top: 6.4rem;
        margin-bottom: 2.4rem;

        color: #FFF;
        // margin-bottom: 2.4rem;
      }
    }
    
    &__media-player {
      height: 14.6rem;
      width: 100%;
      border: none;
      border-radius: 5px;
      // flex: 1;

      @media #{$Tablet} {
        max-width: 436px;
      }
    }
  }
