@import '../../../css/normalize';
@import '../../../css/variables';
//Header component
//Possibly have height restrictions as noted in requirements.
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(rgba(50, 50, 50, 0.5)), url("../../../assets/images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // height: 100vh;
  height: 34.3rem; //Added 80px height due to navigation floating
  position:relative;

  @media #{$Tablet} {
    height: 48rem; //Added 80px height due to navigation floating
  }

  @media #{$Desktop} {
    height: 75rem; //Added 80px height due to navigation floating
  }

  //Header title and media queries
  &__title {
    @extend .header-hero;
    @extend .margin--wrapper;
    @include media-max-width(Mobile, 3, 2);
    
    color: #FFF;

    @media #{$Tablet} {
      @include media-max-width(Tablet, 5, 4);
    }

    @media #{$Desktop} {
      @include media-max-width(Desktop, 6, 5);
    }
  }
}

//Nav component
.nav {
  position: fixed;
  top:0;
  left:0;
  right:0;
  background: $nav-bg-fill;
  @extend .padding--tablet;
  @extend .padding--desktop;

  &__list {
    display: flex;
    flex-wrap: wrap;
    height: 8.0rem;
    justify-content: space-around;
    
    @media #{$Tablet} {
      justify-content: flex-start;
    }
  }

  &__item {
    text-align: center;
    display: flex;
    align-items: stretch;
    position: relative;

    &--full {
      flex: 0 0 100%;

      @media #{$Tablet} {
        flex: 0;
        margin-right: 24px;
      }

      @media #{$Desktop} {
        margin-right: 56px;
      }
    }

    &--half {
      flex: 0 0 50%;
      
      @media #{$Tablet} {
        flex: 0;
        margin-right: 24px;
      }

      @media #{$Desktop} {
        margin-right: 56px;
        min-width: 80px;
      }
    }


    &--hover:hover::after {
      position: absolute;
      content: "";
      left:0;
      right: 0;
      top: 90%;
      bottom: 0;
      background: #FAFAFA;

      @media #{$Tablet} {
        top: 95%;
      }   
    }
  }

   &__logo {
    width: 100px; 
    margin: 0 auto;
  }

  // Added z-index so the link is above li allowing for you to hover and click
  //Ask about link and band logo size
  &__link {
    @include font-line(1.3rem,1.8rem);
    @include font-family(AvenirDemiBold);
    flex:1;
    padding: 8px;
    color: #AFAFAF;
    position: relative;
    z-index: 5;

    &:hover {
      color: #FAFAFA
    }

    @media #{$Tablet} {
      padding: 30px 0 24px 0;
    }    
  }
}