  //Start of Comments component
.comments {
  margin: 0 auto;

  @media #{$Tablet} {
    @include media-max-width(Tablet, 4, 5);

  }

  @media #{$Desktop} {
    @include media-max-width(Desktop, 6, 5);
  }

  &__flex {
    @extend %bottom-divider;
    padding-bottom: 3.2rem; //Change to be responsive just to show divier
    display: flex;
  }

  &__form {
    display: flex;
    flex-direction: column;

    flex: 1;
  }

  &__title {
    @extend %header-section;
    padding-bottom: 4.0rem;
    color: $paragraph-text;
  }

//Start of img styles
  &__img {

    &--small {
      width: 36px;
      border-radius: 50%;
      margin-right: 10px;
    }

    &--large{
      width: 48px;
      height: 48px;
      border-radius: 50%;
      margin-top: 2.4rem;
      margin-right: 1.6rem;
    }

    &--posted {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      margin-right: 10px;
      background: grey;
    }
  } //End of img styles

  &__label {
    @extend %paragraph-bold;
    color: $text-label-fill;
    text-transform: uppercase;
  }

  //Start of Input styles
  &__input {
    @extend %paragraph-regular;
    color: $paragraph-text;
    background: $text-field-bg-fill;
    padding: 15px;
    border: 1px solid $text-label-fill;
    border-radius: 4px;
    margin-bottom: 1.6rem;

    &::placeholder {
      color: $paragraph-text;
      opacity: 1;
    }

    &:focus {
      border: 3px solid black;
    }

    &--comment {
      resize: vertical;
    }
  }

  &__submit {
    @extend %buttons;
  } //End of Input styles

  //Dynamically generated element by JS
  &__posted-comment {
    @extend %bottom-divider;
    display: flex;
    padding: 2.4rem 0;
  }

  &__bottom-wrapper {
    display: flex;
    justify-content: baseline;
  }
}  //End of Comments component


//Dynamically generated elements by JS
//Start of Content component
.content {
    display:flex;
    flex-direction: column;
    flex:1;

  &__flex {
    display: flex;
    @extend %paragraph-regular; 
  }

  &__username {
    @extend %paragraph-bold;
    font-weight: 600;
    margin-bottom: 1.6rem;
    margin-right: 1.6rem;
    color: $paragraph-text;
  }

  &__date {
    @extend %paragraph-regular;
    margin-left: auto;
    color: $text-label-fill;

    @media #{$Tablet} {
      margin-left: 0;
    }
  }

  &__delete {
    @extend %paragraph-regular;
    @include font-family(AvenirDemiBold);
    background: $paragraph-text;

    color: white;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: auto;
    opacity: 0; 
    transition: all 0.25s;

    &:focus {
      opacity: 1; 
      transition: all 0.25s;
    }
  
    &--hover {
      transition: all 0.25s;
      opacity: 1;
      margin-left: auto;
      cursor: pointer;
    }
  }

  &__like {
    @extend %paragraph-regular;
    @include font-family(AvenirDemiBold);
    background: $paragraph-text;
    color: white;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 4px;
    transition: all 0.25s;

    &:hover, &:focus {
      background: $primary-cta-hover;
    }
  }

  &__like-counter {
    @extend %paragraph-regular;
    padding: 5px 10px;
  }

  &__comment {
    @extend %paragraph-regular;
    color: $paragraph-text;
    margin-bottom: 1.6rem;
  }
} //End of Content component

