.section {
  @extend .padding--mobile;
  @extend .padding--tablet;
  @extend .padding--desktop;

  &--shows {
    background: #FAFAFA;
  }
  
  &__title {
    @extend .header-section;
  }

  //Start of the Text Element
  &__text {
    @extend .paragraph-regular;

    &--bold {
      @extend .paragraph-bold;
    }

    &--quote {
      //Have to manually set font-size, font family and due to cascading effect
      @media #{$Tablet} {
        @include font-family(AvenirBold);
        @include font-line(1.4rem, 2.2rem);
        @include media-font(550px, 1.6rem, 2.4rem);
      }
    }

    &--description {
      @media #{$Tablet} {
        // padding-right: 2.4rem;
        max-width: percentage(34.8rem / 72.0rem);
      }

      @media #{$Desktop} {
        // padding-right: 4.0rem;
        max-width: percentage(52rem / 108rem);
      }
    }
  }  
//End of the Text Element

  &__sub-header {
    @extend .header-sub;
  }

  //Start of the Content Element
  &__content {
    @media #{$Desktop} {
      // @include media-max-width(Desktop, 10, 9); 
      max-width: percentage(8.96rem / 10.8rem);
      margin: 0 auto;
    }

    &--description {
      @media #{$Tablet} {
        display: flex;
        justify-content: space-between;
      }
    }

    &--gallery {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      @media #{$Tablet} {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  } 
//End of Content Element

//Start of Image Element
  &__img-container {

    &--gallery {
      margin-bottom: 1.6rem;

      @media #{$Tablet} {
        max-width: percentage(2.24rem / 7.2rem);
        // margin-bottom: 2.4rem; 
        margin-bottom: percentage(0.24rem / 7.2rem);
      }
      @media #{$Desktop} {
        max-width: percentage(3.44rem / 10.8rem);
        margin-bottom: percentage(0.24rem / 10.8rem);
      }
    }
  }

  &__img {

    //This iis where I will control the height of the about image
    //Ask about having the image height dynamic!!
    
    height: 14.5rem;

    @media #{$Tablet} {
      height: 36.2rem;
    }

    @media #{$Desktop} {
      height: 45rem;
    }
  }
//End of Image Element
}


